<ion-content slot="fixed" [scrollY]="false">
    <ion-card class="ion-padding-bottom" style="box-shadow: none;">
        <ion-card-header>

        </ion-card-header>

        <ion-card-content>
            <ion-img class="ion-align-items-center" style="width: 90%; height: 90%;" [src]="'./assets/images/congrats.png'"></ion-img>
            <br>
            <div class="mbH3"><span class="highlight">Sign In </span>to MusicBox</div>
            <br>

            <form (ngSubmit)="onSubmit()">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-label position="stacked">E-mail Address</ion-label>
                            <ion-input type="email" placeholder="Password"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label position="stacked">Password</ion-label>
                            <ion-input type="password" placeholder="Password"></ion-input>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button [routerLink]="['tabs']"  expand="block" fill="solid" shape="round">
                    Sign In
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>


</ion-content>