<ion-content slot="fixed" [scrollY]="false">
    <ion-toolbar class="ion-padding-horizontal">
        <p class="mbH3" [routerLink]="['/welcome02']" routerLinkActive="router-link-active"> Back</p>
    </ion-toolbar>
    <ion-card class="ion-padding-bottom" style="box-shadow: none;">

        <ion-card-content>
            <ion-img class="ion-padding-horizontal" style="width: 90%; height: 90%;" [src]="'./assets/images/congrats.png'"></ion-img>
            <br>
            <div class="mbH3"><span class="highlight">Sign In </span>to MusicBox</div>
            <br>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label position="stacked">E-mail Address</ion-label>
                        <ion-input type="email" clear-input="true" inputmode="email" placeholder="E-Mail Address"></ion-input>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label position="stacked">Password</ion-label>
                        <ion-input type="password" clear-input="true" placeholder="Password"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-checkbox></ion-checkbox>
                        <ion-label>Remember me</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-button expand="block" fill="solid" shape="round">
                Sign In
            </ion-button>
        </ion-card-content>
    </ion-card>


</ion-content>