<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon size="small" name="home-sharp"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon size="small" name="bookmarks-sharp"></ion-icon>
            <ion-label>Saved</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon size="small" name="play-circle-sharp"></ion-icon>
            <ion-label>Play</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
            <ion-icon size="small" name="search-sharp"></ion-icon>
            <ion-label>Find Songs</ion-label>
        </ion-tab-button>
    </ion-tab-bar>



</ion-tabs>