<ion-content [fullscreen]="true">
    <ion-header class="ion-no-border">
        <ion-toolbar class="ion-padding-end ion-padding-start">
            <h2><span class="highlight">Hi</span> Pamela!</h2>
            <ion-icon slot="end" name="ellipsis-horizontal-sharp"></ion-icon>
        </ion-toolbar>
    </ion-header>
    <ion-card class="card ion-padding">
        <h4>Link Spotify!</h4>
        <p class="subtext">Connect your Spotify to explore even <br>greater possibilities with MusicBox</p>
        <a class="highlight">Get Started > </a>
    </ion-card>
    <ion-toolbar class="ion-padding-end ion-padding-start">
        <h5><span class="highlight">Recent</span> Activity</h5>

    </ion-toolbar>
    <ion-list>
        <ion-item class="">
            <ion-img style="width: 20%; height: 30%;" [src]="'./assets/images/welcome.png'"></ion-img>
            Awesome Label...
        </ion-item>
        <ion-item class="">
            <ion-img style="width: 20%; height: 30%;" [src]="'./assets/images/create.png'"></ion-img>
            Awesome Label...
        </ion-item>
        <ion-item class="">
            <ion-img style="width: 20%; height: 30%;" [src]="'./assets/images/create.png'"></ion-img>
            Awesome Label...
        </ion-item>
        <ion-item class="">
            <ion-img style="width: 20%; height: 30%;" [src]="'./assets/images/welcome.png'"></ion-img>
            Awesome Label...
        </ion-item>
        <ion-item class="">
            <ion-img style="width: 20%; height: 30%;" [src]="'./assets/images/create.png'"></ion-img>
            Awesome Label...
        </ion-item>
        <ion-item class="">
            <ion-img style="width: 20%; height: 30%;" [src]="'./assets/images/create.png'"></ion-img>
            Awesome Label...
        </ion-item>
    </ion-list>

</ion-content>