.highlight {
    color: #62BCEF;
    font-weight: 600;
}

.highlight2 {
    color: #62BCEF;
}

.mbH3 {
    font-size: 1.25rem;
}

.text {
    opacity: 70%;
}

.subtext {
    opacity: 70%;
    font-size: 0.625rem;
}

.artistName {
    color: #62BCEF;
    font-size: 0.875rem;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gradient {
    background: linear-gradient(180deg, #62BCEF 0%, #2CAEF7 100%);
}

.card {
    border: 1px solid #62BCEF;
    box-sizing: border-box;
    border-radius: 25px;
}