.highlight {
    color: #62BCEF;
    font-weight: 600;
}

.mbH3 {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.25rem;
}

.body {
    font-family: 'Poppins', 'sans-serif';
}

.text {
    opacity: 70%;
}

.subtext {
    opacity: 70%;
    font-size: 0.625rem;
}