<ion-content [scrollY]="false">
    <ion-card class="ion-padding-bottom" style="box-shadow: none;">
        <ion-card-header>

        </ion-card-header>

        <ion-card-content>
            <ion-img style="width: 70%; height: 70%;" [src]="'./assets/images/create.png'"></ion-img>

            <div class="mbH3"><span class="highlight">Create </span>your MusicBox account</div>
            <br>
            <p class="text">Choose how you want to create your account.</p>
            <br>
            <ion-grid>
                <ion-row>
                    <ion-button (click)="onClick()" expand="block" fill="outline" shape="round">
                        <ion-icon size="small" [src]="'./assets/images/google.svg'" slot="start"></ion-icon>
                        <span>Sign Up with Google</span>
                    </ion-button>
                </ion-row>
                <ion-row>
                    <ion-button (click)="onClick()" expand="block" fill="solid" shape="round">
                        <ion-icon size="small" name="mail-sharp" slot="start"></ion-icon>
                        <div>Sign Up with E-mail</div>
                    </ion-button>
                    <p>
                        <span class="subtext ion-padding-top">Already have an account? </span><a>Sign In</a></p>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>


</ion-content>